.instrument-list__background {
    background-color: rgb(105, 105, 105, 0.8);
    padding: 1rem 2vw;
    margin: 1rem 0rem;
    width: 66vw;
    margin-left: 3vw;
    border-radius: 15px 0px 0px 15px;
    justify-content: flex-start;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.instrument-list__container {
    display: inline-flex
}

.instrument-list__statistics-background {
    padding: 1rem 2vw;
    margin: 1rem 0rem;
    border-radius: 0px 15px 15px 0px;
    width: 20vw;
    background-color: rgb(105, 105, 105, 0.8);
    color: whitesmoke;
}

.instrument-list__statistics {
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    padding: 2vw 2vh;
    border-radius: 10px;
    opacity: 80%;
}