.instrument-tile__background {
    background-color: black;
    color: white;
    opacity: 80%;
    border-radius: 25px;
    padding: 1rem 2rem;
    width: fit-content;
    flex-shrink: 0;
}

.instrument-tile__background + .instrument-tile__background {
    margin-left: 1rem;
}